.categories-box {   
    /* flex-grow: 1; */
    /* max-width: 400px; */
    display: flex;
    max-width: 450px;
    overflow-y: hidden;
    text-align: left;
}

.categories-item {
    /* max-width: 350px; */
}

