.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;

}

.App-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  background-color: rgb(255, 255, 255);
}

.loading {
  opacity: 0.2;
}

.App-footer {
  background-color: #282c34;
  height: 8vh;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer__copy {
  margin-left: 40px;
  font-size:medium;
}

.header__app-bar {
  background-color: midnightblue !important;
}

.nav-bar__link {
  text-decoration: none;
  color: white;;
}